@font-face {
   font-family: 'FontsFree-Net-Axiforma3woff2';
   font-display: swap;
   src: url('file:///C:/Users/Owner/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-08_140149/fonts/FontsFree-Net-Axiforma3woff2/font.ttf');
}
