@font-face {
   font-family: 'Quicksand-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/Owner/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-08_140149/fonts/Quicksand-VariableFont_wght/font.ttf');
}
