@font-face {
   font-family: 'FontsFree-Net-Axiforma3woff2';
   font-display: swap;
   src: url('FontsFree-Net-Axiforma3woff2/font.ttf');
}
@font-face {
   font-family: 'Quicksand-VariableFont_wght';
   font-display: swap;
   src: url('Quicksand-VariableFont_wght/font.ttf');
}
