<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <style type="text/css">

        body{
          font-family: 'Quicksand', sans-serif;
          margin-left: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
        }


    </style>

</head>
<body>

<div class="main">
    <a href="/adminportal">Go back to admin portal</a> <br/> <br/>
    <a href="p/create">Add new entry</a> <br/> <br/>
    {% for data in dataset %}
    ID number: {{ data.id }}<br/>
    username: {{ data.username }}<br/>
    email: {{ data.email }}<br/>
    name: {{ data.name }}<br/>
    family: {{ data.family }} <br/>
    password: {{ data.password }}<br/>
    confirmation: {{ data.confirmation }}<br/>
    birth: {{ data.birth }}<br/>
    height: {{ data.height }}<br/>
    weight: {{ data.weight }}<br/>
    <br/>

    <a href="p/{{ data.id }}/update">Modify entry</a>
        - - <a href="p/{{ data.id }}/delete">Delete entry</a>
        <hr/>
    {% endfor %}

</div>

</body>
</html>