<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <style type="text/css">

        body{
          font-family: 'Quicksand', sans-serif;
          margin-left: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
        }


    </style>

</head>
<body>

<div class="main">
<h3 > Doctors List</h3>
<h4> Find listed the available doctors: </h4>
    {% for data in dataset %}
    username: {{ data.usernameDr }}<br/>
    firstname: {{ data.firstname }}<br/>
    lastname: {{ data.lastname }}<br/>
    emailDr: {{ data.emailDr }}<br/>
    specialization: {{ data.specialization }}<br/>
    <br/>
        <hr/>
    {% endfor %}

</div>
<h3 > Make your appointment</h3>
<p > *Please use the following format for Date & time: YYYY-MM-DD hh:mm</p>
<p > *Choose your Doctor from the list above and insert username in the drname field</p>
<p > Date &</p>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}

    <input type="submit" value="Submit">
    <a href="javascript:history.back()">Cancel</a>
</form>

</body>
</html>