<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>

<div class="main">

    {% for data in dataset %}
    {% if data.drname == "samir" %}
    ID number: {{ data.id }}<br/>
    Date & Time: {{ data.time }}<br/>
    Patient Email: {{ data.email }} <br/>
    Patient name: {{ data.name }}<br/>
    Doctor name: {{ data.drname }}<br/>
    Case Description: {{ data.description }}<br/>
    Approval:  {{ data.approval }}
        <br/>
    <a href="{{ data.id }}/approve">Change approval status</a>
        <hr/>
    {% endif %}
    {% endfor %}

</div>

</body>
</html>