<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <style type="text/css">

        body{
          font-family: 'Quicksand', sans-serif;
          margin-left: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
        }


    </style>

</head>
<body>

<div class="main">

    <a href="/adminportal">Go back to admin portal</a> <br/> <br/>
    <a href="a/create">Add a new appointment</a> <br/> <br/>
    {% for data in dataset %}
    ID number: {{ data.id }}<br/>
    Date & Time: {{ data.time }}<br/>
    Patient Email: {{ data.email }} <br/>
    Patient username: {{ data.username }} <br/>
    Patient name: {{ data.name }}<br/>
    Doctor name: {{ data.drname }}<br/>
    Case Description: {{ data.description }}<br/>
    Approval: {{ data.approval }}<br/>
    Done: {{ data.done }}<br/>
    Link: <a href="https://aub.webex.com/meet/{{ data.drname }}">Join meeting</a><br/>
        <br/>
    <a href="a/{{ data.id }}/update">Modify entry</a>
        - - <a href="a/{{ data.id }}/delete">Delete entry</a>
        <hr/>
    {% endfor %}
<br/>
<br/>
    <p > Generate report for patient</p>
    <form action="/adminportal/a/submit" method="post">
        {% csrf_token %}
        <input type="text" name="patientusername" placeholder="username">
        <button>Submit</button>
    </form>



</div>


</body>
</html>