<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointments</title>
</head>
<body>

<div class="main">

    <a href="/adminportal">Go back to admin portal</a> <br/> <br/>
    <a href="create">Add a new appointment</a> <br/> <br/>
    {% for data in dataset %}
    ID number: {{ data.id }}<br/>
    Date & Time: {{ data.time }}<br/>
    Patient Email: {{ data.email }} <br/>
    Patient name: {{ data.name }}<br/>
    Doctor name: {{ data.drname }}<br/>
    Case Description: {{ data.description }}<br/> <br/>
    <a href="{{ data.id }}/update">Modify entry</a>
        - - <a href="{{ data.id }}/delete">Delete entry</a>
        <hr/>
    {% endfor %}

</div>

</body>
</html>