<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <style type="text/css">

        body{
          font-family: 'Quicksand', sans-serif;
          margin-left: 25px;
            margin-top: 25px;
            margin-bottom: 25px;
        }


    </style>

</head>
<body>
<h2 > Doctors he/she met with:</h2>
<div class="main">

    {% for data in dataset %}
    {% if data.username == patientgen %}
    Doctor name: {{ data.drname }}<br/>
        <br/>

        <hr/>
    {% endif %}
    {% endfor %}



</div>

<h2 > Number of appointments:</h2>
{{ x }}
<div class="main">







</div>

</body>
</html>